/* line 4, ../scss/includes/_utils.scss */
.bgc-primary {
  background-color: #4e92ff !important;
}

/* line 7, ../scss/includes/_utils.scss */
.bg-info {
  background-color: #23d7f0;
}

/* line 10, ../scss/includes/_utils.scss */
.bg-info-light {
  background-color: #e2fafd;
}

/* line 13, ../scss/includes/_utils.scss */
.bg-danger {
  background-color: #e16065;
}

/* line 16, ../scss/includes/_utils.scss */
.bg-danger-light {
  background-color: #fceeee;
}

/* line 19, ../scss/includes/_utils.scss */
.bg-primary {
  background-color: #7c6fd8;
}

/* line 22, ../scss/includes/_utils.scss */
.bg-primary-light {
  background-color: #f1effb;
}

/* line 25, ../scss/includes/_utils.scss */
.bg-success {
  background-color: #3ec276;
}

/* line 28, ../scss/includes/_utils.scss */
.bg-success-light {
  background-color: #e5f7ec;
}

/* line 31, ../scss/includes/_utils.scss */
.bg-warning {
  background-color: #fa9d4d;
}

/* line 34, ../scss/includes/_utils.scss */
.bg-warning-light {
  background-color: #fef2e7;
}

/* line 38, ../scss/includes/_utils.scss */
.d-inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 4, ../scss/components/_button.scss */
.button {
  border: 1px solid transparent;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  border-radius: 0.35rem;
  padding: 0.35rem 0.75rem;
  min-height: 32px;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
}
/* line 12, ../scss/components/_button.scss */
.button.button-blue {
  background-color: #4e92ff;
  color: #ffffff;
}
/* line 16, ../scss/components/_button.scss */
.button.button-white {
  background-color: #ffffff;
}

/* line 5, ../scss/components/_form.scss */
.form-element-select select, .form-element-textarea textarea, .form-element-input input {
  border: 1px solid #dbdade;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  border-radius: 0.35rem;
  padding: 0.35rem 0.75rem;
  font-family: inherit;
  display: block;
  margin: 0;
}
/* line 28, ../scss/includes/_mixins.scss */
.form-element-select select::-webkit-input-placeholder, .form-element-textarea textarea::-webkit-input-placeholder, .form-element-input input::-webkit-input-placeholder {
  color: #b6b4bd;
}
/* line 29, ../scss/includes/_mixins.scss */
.form-element-select select:-moz-placeholder, .form-element-textarea textarea:-moz-placeholder, .form-element-input input:-moz-placeholder {
  color: #b6b4bd;
}
/* line 30, ../scss/includes/_mixins.scss */
.form-element-select select::-moz-placeholder, .form-element-textarea textarea::-moz-placeholder, .form-element-input input::-moz-placeholder {
  color: #b6b4bd;
}
/* line 31, ../scss/includes/_mixins.scss */
.form-element-select select:-ms-input-placeholder, .form-element-textarea textarea:-ms-input-placeholder, .form-element-input input:-ms-input-placeholder {
  color: #b6b4bd;
}
/* line 32, ../scss/includes/_mixins.scss */
.form-element-select select::placeholder, .form-element-textarea textarea::placeholder, .form-element-input input::placeholder {
  color: #b6b4bd;
}
/* line 15, ../scss/components/_form.scss */
.form-element-select select:focus, .form-element-textarea textarea:focus, .form-element-input input:focus, .form-element-select select:hover, .form-element-textarea textarea:hover, .form-element-input input:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* line 22, ../scss/components/_form.scss */
.form-group label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: 13px;
}

/* line 29, ../scss/components/_form.scss */
.form-element-select select {
  min-height: 32px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/svg/angle-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 25px;
  background-size: 13px;
  cursor: pointer;
}

/* line 4, ../scss/components/_badge.scss */
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
/* line 12, ../scss/components/_badge.scss */
.badge.rounded {
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  border-radius: 50rem;
}
/* line 15, ../scss/components/_badge.scss */
.badge.bg-info-light {
  color: #23d7f0;
}
/* line 18, ../scss/components/_badge.scss */
.badge.bg-danger-light {
  color: #e16065;
}
/* line 21, ../scss/components/_badge.scss */
.badge.bg-primary-light {
  color: #7c6fd8;
}
/* line 24, ../scss/components/_badge.scss */
.badge.bg-success-light {
  color: #3ec276;
}
/* line 27, ../scss/components/_badge.scss */
.badge.bg-warning-light {
  color: #fa9d4d;
}

/* line 5, ../scss/components/_tabs.scss */
.custom-tabs .tab-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #dbdade;
}
/* line 9, ../scss/components/_tabs.scss */
.custom-tabs .tab-list .tab-item .tab-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #9b9b9b;
  position: relative;
}
/* line 16, ../scss/components/_tabs.scss */
.custom-tabs .tab-list .tab-item .tab-link .tab-icon {
  line-height: 0;
  margin-right: 0.5rem;
  width: 24px;
}
/* line 20, ../scss/components/_tabs.scss */
.custom-tabs .tab-list .tab-item .tab-link .tab-icon svg {
  width: 100%;
}
/* line 25, ../scss/components/_tabs.scss */
.custom-tabs .tab-list .tab-item .tab-link.active::after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4e92ff;
}
/* line 38, ../scss/components/_tabs.scss */
.custom-tabs .tab-list.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 4, ../scss/pages/taskboard.scss */
.app-main-content-wrapper {
  padding: 15px;
}
/* line 6, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 13px;
}
/* line 11, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar .title-block .title {
  font-size: 21px;
}
/* line 15, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar .right-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
}
/* line 21, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar .right-block .options-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
}
/* line 24, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar .right-block .options-block button {
  border: 1px solid #ddd;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
/* line 31, ../scss/pages/taskboard.scss */
.app-main-content-wrapper .topbar .right-block .options-block button img {
  width: 16px;
}

@media (min-width: 1200px) {
  /* line 40, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .topbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  /* line 45, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .topbar .title-block {
    margin-right: 10px;
  }
}
@media (max-width: 1199px) {
  /* line 45, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .topbar .title-block {
    margin-bottom: 10px;
  }
}
/* line 54, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-direction: reverse;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 58, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 0;
}
/* line 61, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item:not(:last-child) {
  margin-left: -5px;
}
/* line 64, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item:hover {
  z-index: 1;
}
/* line 67, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item .user-label,
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item img {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: default;
}
/* line 74, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item .user-label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 14px;
}
/* line 83, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item:not(:first-child) img,
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .user-list-item:not(:first-child) .user-label {
  outline: 2px solid #ffffff;
}
/* line 89, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .user-list-group .more-users {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #ddd;
  margin-left: -4px;
  background-color: #ffffff;
  font-size: 10px;
  color: #212121;
  text-decoration: none;
}
/* line 104, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .filter-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
}
/* line 108, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .filter-group .form-element-select select {
  border-color: #4e92ff;
  font-weight: 600;
}
/* line 114, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .topbar .right-block .search-block {
  margin-left: unset;
}
@media (min-width: 768px) {
  /* line 114, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .topbar .right-block .search-block {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  /* line 114, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .topbar .right-block .search-block {
    margin-left: unset;
  }
}
/* line 126, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .task-status-group .task-status, .app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-status {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  margin: 10px 0;
}
/* line 132, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .task-status-group .task-status .badge, .app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-status .badge {
  background-color: #4e92ff;
  padding: 0.10rem 0.25rem;
  min-width: 20px;
  margin-left: 0.25rem;
  line-height: 16px;
  outline: 1px solid #ffffff;
}
/* line 141, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel {
  background-color: #e8f1ff;
  padding: 0.75rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 145, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel:not(:last-child) {
  margin-bottom: 10px;
}
/* line 148, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 152, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header:not(.collapsed) {
  padding-bottom: 10px;
}
/* line 157, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header:not(.collapsed) .actions button.action-toggle img {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 164, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}
@media (min-width: 992px) {
  /* line 164, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block {
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 20px;
  }
}
/* line 171, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .title {
  font-weight: 600;
  font-size: 15px;
}
/* line 175, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .task-status-group {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  column-gap: 20px;
}
@media (max-width: 767px) {
  /* line 175, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .task-status-group {
    display: none;
  }
}
/* line 182, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .title-block .task-status-group .task-status {
  margin: 0;
  white-space: nowrap;
}
/* line 189, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .actions {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  gap: 5px;
}
/* line 193, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .actions button {
  border: 1px solid #ddd;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
/* line 200, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-header .actions button img {
  width: 15px;
}
/* line 208, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body.collapse:not(.show) {
  display: none;
}
/* line 212, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(0, minmax(0, 1fr));
  grid-template-columns: repeat(0, minmax(0, 1fr));
  grid-gap: 10px;
}
@media (min-width: 576px) {
  /* line 212, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group {
    -ms-grid-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  /* line 212, ../scss/pages/taskboard.scss */
  .app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
/* line 223, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box {
  background-color: #d8e6ff;
  padding: 0.5rem;
  border: 1px solid #c0dcff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 231, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card {
  background-color: #ffffff;
  font-size: 12px;
  border-left: 4px solid #4e92ff;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 6px -6px rgba(0, 0, 0, 0.5);
}
/* line 238, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-header,
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-body,
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer {
  padding: 0.5rem;
}
/* line 243, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  padding-top: 0.75rem;
}
/* line 253, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-body .description-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
/* line 259, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
  padding-bottom: 0.75rem;
}
/* line 263, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer .label-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
}
/* line 267, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer .label-group .label {
  padding: 0.15rem 0.65rem;
  font-size: 12px;
}
/* line 272, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer .assignee-block {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
}
/* line 275, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer .assignee-block .assignee {
  font-size: 11px;
  margin-right: 0.25rem;
  white-space: nowrap;
  margin-left: 10px;
}
/* line 281, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box .task-card .task-card-footer .assignee-block .label {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  border-radius: 50rem;
  background-color: #4e92ff;
  color: #ffffff;
  text-transform: capitalize;
}
/* line 295, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box button {
  width: 100%;
  font-size: 13px;
  color: #777;
  min-height: 34px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 303, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box button span {
  line-height: 0;
  margin-left: 0.5rem;
}
/* line 307, ../scss/pages/taskboard.scss */
.app-taskboard-content-wrapper .panel-group .panel .panel-body .task-group .task-box button img {
  width: 14px;
}

@media (min-width: 1200px) {
  /* line 5, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .topbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .topbar .title-block {
    margin-right: 10px;
  }
}
@media (max-width: 1199px) {
  /* line 10, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .topbar .title-block {
    margin-bottom: 10px;
  }
}
/* line 17, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .title-block .icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
/* line 23, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .right-block .action-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
}
/* line 26, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .right-block .action-block button {
  border-color: #4e92ff;
  font-weight: 600;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 31, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .right-block .action-block button img {
  margin-left: 0.35rem;
}
/* line 37, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .right-block .submit-block button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 40, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .topbar .right-block .submit-block button img {
  margin-left: 0.5rem;
}
/* line 47, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}
@media (min-width: 1200px) {
  /* line 47, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container {
    -ms-grid-columns: 1fr 400px;
    grid-template-columns: 1fr 400px;
  }
}
@media (min-width: 1300px) {
  /* line 47, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container {
    -ms-grid-columns: 1fr 470px;
    grid-template-columns: 1fr 470px;
  }
}
/* line 57, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}
/* line 60, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .project-title,
.app-newtask-content-wrapper .task-create-container .task-block .client-title {
  font-size: 16px;
  font-weight: 600;
}
/* line 65, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  /* line 65, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-block .task-container {
    -ms-grid-columns: 1fr 330px;
    grid-template-columns: 1fr 330px;
    border-top: 1px solid #dbdade;
  }
}
/* line 72, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dbdade;
}
@media (min-width: 768px) {
  /* line 72, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description {
    padding: 15px;
    padding-left: 0;
    border-right: 1px solid #dbdade;
    border-bottom: none;
    padding-bottom: 0;
  }
}
/* line 84, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
/* line 89, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment .file {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
/* line 93, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment .file img {
  margin-right: 0.15rem;
}
/* line 96, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment .file label {
  white-space: nowrap;
  margin: 0;
  color: #4e92ff;
}
/* line 101, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment .file input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}
/* line 112, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .file-attachment .instructions {
  color: #666666;
  font-size: 13px;
}
/* line 117, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}
/* line 118, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .add-comment .user, .app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .list-comment .comment-item .user {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
  background-color: #4e92ff;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  border-radius: 9999px;
}
/* line 128, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .add-comment .user .label, .app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .list-comment .comment-item .label {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
/* line 135, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .add-comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
}
/* line 141, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .add-comment .user img {
  width: 100%;
}
/* line 152, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .list-comment {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}
/* line 155, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .list-comment .comment-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
}
/* line 161, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block .list-comment .comment-item .user img {
  width: 100%;
}
/* line 170, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-description .comment-block textarea {
  color: #666666;
}
/* line 176, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info {
  padding-top: 25px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 176, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info {
    padding: 15px;
    padding-right: 0;
    padding-top: 35px;
    padding-bottom: 0;
  }
}
/* line 185, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}
/* line 188, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
  grid-template-columns: 110px 1fr;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  font-size: 13px;
}
/* line 193, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .title {
  font-weight: 600;
}
/* line 197, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .badge {
  font-size: 12px;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}
/* line 202, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .assigned-to-list,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .reviewers-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}
/* line 206, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .assigned-to-list .assigned-to,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .assigned-to-list .reviewers,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .reviewers-list .assigned-to,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .reviewers-list .reviewers {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 209, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .assigned-to-list .assigned-to .label,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .assigned-to-list .reviewers .label,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .reviewers-list .assigned-to .label,
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .reviewers-list .reviewers .label {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  border-radius: 50rem;
  background-color: #4e92ff;
  color: #ffffff;
  font-size: 12px;
  text-transform: capitalize;
  margin-right: 5px;
}
/* line 225, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .form-element-input input {
  padding: 0;
  border: none;
}
/* line 230, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-block .task-container .task-info .task-info-list .task-info-item .content .form-element-input .icon img {
  margin-right: 0.5rem;
}
/* line 241, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block {
  background-color: #f5f9ff;
  border: 1px solid #d7e6ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
@media (min-width: 1200px) {
  /* line 241, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-detsils-block {
    padding-top: 27px;
  }
}
/* line 249, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .tab-content {
  padding: 20px;
}
/* line 252, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
@media (min-width: 850px) {
  /* line 252, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  /* line 252, ../scss/pages/newtask.scss */
  .app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
/* line 262, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card {
  background-color: #ffffff;
  font-size: 12px;
  border-left: 4px solid #4e92ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.5);
}
/* line 268, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-header,
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body {
  padding: 0.75rem;
}
/* line 272, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  padding-bottom: 0;
}
/* line 277, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-header .title {
  font-size: 14px;
  font-weight: 600;
}
/* line 281, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-header .right-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 5px;
}
/* line 287, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}
/* line 290, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body .client-block,
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body .contents-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  grid-gap: 10px;
}
/* line 297, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body .contents-block {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: end;
  align-items: end;
}
/* line 302, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body .contents-block .assignee {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 5px;
}
/* line 306, ../scss/pages/newtask.scss */
.app-newtask-content-wrapper .task-create-container .task-detsils-block .task-group .task-card .task-card-body .contents-block .assignee .label {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  border-radius: 50rem;
  background-color: #4e92ff;
  color: #ffffff;
  text-transform: capitalize;
}
