@import "../includes/mixins";
@import "../includes/variables";

.app-newtask-content-wrapper {
    .topbar {
        @include breakpoint(mn1200) {
            @include flexbox;
            @include align-items(center);
        }
        .title-block {
            @include breakpoint(mn1200) {
                margin-right: 10px;
            }
            @include breakpoint(mx1199) {
                margin-bottom: 10px;
            }
            .icon {
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }
        .right-block {
            .action-block {
                @include breakpoint(mn576) {
                    grid-auto-columns: auto;
                    grid-auto-flow: column;
                    width: auto;
                }
            }
            .submit-block {
                @include breakpoint(mn768) {
                    margin-left: auto;
                }
            }
        }
    }
    .task-create-container {
        @include gridbox;
        grid-gap: 15px;
        @include breakpoint(mn1200) {
            @include grid-template-columns(1fr 400px);
        }
        @include breakpoint(mn1300) {
            @include grid-template-columns(1fr 470px);
        }
        .task-block {
            @include gridbox;
            grid-gap: 10px;
            .project-title,
            .client-title {
                font-size: 16px;
                font-weight: 600;
            }
            .task-container {
                @include gridbox;
                @include grid-template-columns(1fr);
                @include breakpoint(mn768) {
                    @include grid-template-columns(1fr 330px);
                    border-top: 1px solid $borderColor;
                }
                .task-description {
                    @include gridbox;
                    grid-gap: 30px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid $borderColor;
                    @include breakpoint(mn768) {
                        padding: 15px;
                        padding-left: 0;
                        border-right: 1px solid $borderColor;
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                    .file-attachment {
                        @include flexbox;
                        @include flex-wrap(wrap);
                        gap: 5px;
                        margin-top: 10px;
                        .file {
                            @include inline-flex;
                            @include align-items(center);
                            position: relative;
                            img {
                                margin-right: 0.15rem;
                            }
                            label {
                                white-space: nowrap;
                                margin: 0;
                                color: $primaryColor;
                            }
                            input {
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                padding: 0;
                                margin: 0;
                                font-size: 0;
                                cursor: pointer;
                            }
                        }
                        .instructions {
                            color: $black-40;
                            font-size: 13px;
                        }
                    }
                    .comment-block {
                        %user-styles {
                            width: 25px;
                            height: 25px;
                            @include flexbox;
                            @include align-items(center);
                            @include justify-content(center);
                            overflow: hidden;
                            background-color: $primaryColor;
                            @include border-radius(9999px);
                        }
                        %label-styles {
                            font-size: 12px;
                            font-weight: 500;
                            color: $white;
                        }
                        @include gridbox;
                        grid-gap: 20px;
                        .add-comment {
                            @include gridbox;
                            @include grid-template-columns(auto 1fr);
                            grid-column-gap: 8px;
                            .user {
                                @extend %user-styles;
                                img {
                                    width: 100%;
                                }
                                .label {
                                    @extend %label-styles;
                                }
                            }
                            .comment-box {

                            }
                        }
                        .list-comment {
                            @include gridbox;
                            grid-gap: 15px;
                            .comment-item {
                                @include gridbox;
                                @include grid-template-columns(auto 1fr);
                                grid-column-gap: 8px;
                                .user {
                                    @extend %user-styles;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .label {
                                    @extend %label-styles;
                                }
                            }
                        }
                        textarea {
                            color: $black-60;
                        }
                    }

                }
                .task-info {
                    padding-top: 25px;
                    padding-bottom: 10px;
                    @include breakpoint(mn768) {
                        padding: 15px;
                        padding-right: 0;
                        padding-top: 35px;
                        padding-bottom: 0;
                    }
                    .task-info-list {
                        @include gridbox;
                        grid-gap: 20px;
                        .task-info-item {
                            @include gridbox;
                            @include grid-template-columns(110px 1fr);
                            @include align-items(baseline);
                            font-size: 13px;
                            .title {
                               font-weight: 600; 
                            }
                            .content {
                                .badge {
                                    font-size: 12px;
                                    padding-left: 0.85rem;
                                    padding-right: 0.85rem;
                                }
                                .assigned-to-list,
                                .reviewers-list {
                                    @include gridbox;
                                    grid-gap: 10px;
                                    .assigned-to,
                                    .reviewers {
                                        @include align-items(center);
                                        .label {
                                            width: 22px;
                                            height: 22px;
                                            @include flexbox;
                                            @include align-items(center);
                                            @include justify-content(center);
                                            @include border-radius(50rem);
                                            background-color: $primaryColor;
                                            color: $white;
                                            font-size: 12px;
                                            text-transform: capitalize;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                .form-element-input {
                                    input {
                                        padding: 0;
                                        border: none;
                                    }
                                    .icon {
                                        img {
                                            margin-right: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .task-detsils-block {
            background-color: #f5f9ff;
            border: 1px solid #d7e6ff;
            @include border-radius(5px);
            padding: 5px;
            @include breakpoint(mn1200) {
                padding-top: 27px;
            }
            .custom-tabs {
                .tab-list {
                    @include breakpoint(mn1200) {
                        @include justify-content(center);
                    }
                }
            }
            .tab-content {
                padding: 20px;
            }
            .task-group {
                @include gridbox;
                @include grid-template-columns(1fr);
                grid-gap: 10px;
                @include breakpoint(mn850) {
                    @include grid-template-columns(1fr 1fr);
                }
                @include breakpoint(mn1200) {
                    @include grid-template-columns(1fr);
                }
                .task-card {
                    background-color: $white;
                    font-size: 12px;
                    border-left: 4px solid $primaryColor;
                    @include border-radius(5px);
                    @include box-shadow(0px 2px 10px -6px rgba(0, 0, 0, 0.5));
                    .task-card-header,
                    .task-card-body {
                        padding: 0.75rem;
                    }
                    .task-card-header {
                        @include gridbox;
                        @include grid-template-columns(1fr);
                        @include align-items(baseline);
                        grid-gap: 5px;
                        padding-bottom: 0;
                        @include breakpoint(mn376) {
                            @include grid-template-columns(1fr auto);
                        }
                        .title {
                            font-size: $globalFontSize;
                            font-weight: 600;
                        }
                        .right-block {
                            @include flexbox;
                            @include align-items(center);
                            gap: 5px;
                        }
                    }
                    .task-card-body {
                        @include gridbox;
                        grid-gap: 10px;
                        .client-block,
                        .contents-block {
                            @include gridbox;
                            @include grid-template-columns(1fr);
                            grid-gap: 5px;
                            @include breakpoint(mn376) {
                                @include grid-template-columns(1fr auto);
                            }
                        }
                        .client-block {
                            @include align-items(baseline);
                        }
                        .contents-block {
                            @include align-items(end);
                            .assignee {
                                @include inline-flex;
                                @include align-items(center);
                                gap: 5px;
                                .label {
                                    width: 22px;
                                    height: 22px;
                                    @include flexbox;
                                    @include align-items(center);
                                    @include justify-content(center);
                                    @include border-radius(50rem);
                                    background-color: $primaryColor;
                                    color: $white;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}