@import "../includes/mixins";
@import "../includes/variables";

.button {
    border: 1px solid transparent;
    @include border-radius(0.35rem);
    padding: 0.35rem 0.75rem;
    min-height: 32px;
    white-space: nowrap;
    font-family: inherit;
    cursor: pointer;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    &.button-blue {
        background-color: $primaryColor;
        color: $white;
    }
    &.button-white {
        background-color: $white;
    }
    &.button-link {
        color: $primaryColor;
        padding: 0;
    }
}
