@import "../includes/mixins";
@import "../includes/variables";


%form-element-styles {
    border: 1px solid $borderColor;
    @include border-radius(0.35rem);
    padding: 0.35rem 0.75rem;
    font-family: inherit;
    color: $bodyColor;
    display: block;
    margin: 0;
    @include placeholder{
        color: #b6b4bd;
    }
    &:focus,
    &:hover {
        @include box-shadow(none);
        outline: none;
    }
}
.form-group {
    label {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-size: 13px;
    }
}
.form-element-select {
    select {
        min-height: 32px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url(../images/svg/angle-down.svg);
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding-right: 25px;
        background-size: 13px;
        cursor: pointer;
        @extend %form-element-styles;
    }
}
.form-element-textarea {
    textarea {
        @extend %form-element-styles;
    }
}

.form-element-input {
    input {
        @extend %form-element-styles;
    }
}