@import "../includes/mixins";
@import "../includes/variables";

table {
    &.table {
        width: 100%;
        border: 1px solid $borderColor;
        th, td {
            font-size: $globalFontSize;
            color: $black-60;
            text-align: left;
            padding: 0.75rem 1rem;
        }
        th {
            white-space: nowrap;
        }
        tbody {
            tr {
                td {
                    border-top: 1px solid $borderColor;
                }
            }
        }
    }
    &.rounded {
        @include border-radius(6px);
    }
}