@media (min-width: 768px) {
  /* line 5, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .topbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  /* line 10, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .topbar .title-block {
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) {
  /* line 16, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .topbar .right-block .action-block {
    grid-auto-columns: auto;
    grid-auto-flow: column;
    width: auto;
  }
}
@media (min-width: 576px) {
  /* line 23, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .topbar .right-block .submit-block {
    margin-left: auto;
  }
}
/* line 31, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}
/* line 32, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card, .app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item {
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  /* line 31, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  /* line 31, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
}
/* line 44, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
/* line 47, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card:not(.active-projects) {
  background-color: #ffffff;
}
/* line 50, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card.active-projects {
  background-color: #f5f9ff;
}
/* line 53, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-header,
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body {
  padding: 25px;
}
/* line 57, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 0;
  gap: 5px;
}
/* line 64, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-header .title {
  font-size: 16px;
  font-weight: 600;
}
/* line 68, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-header .actions {
  font-size: 13px;
  font-weight: 600;
}
/* line 71, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-header .actions .button {
  gap: 5px;
}
/* line 77, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 481px) {
  /* line 77, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list {
    -ms-grid-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  /* line 77, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list {
    -ms-grid-columns: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* line 87, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item {
  color: #4d4d4d;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  gap: 5px;
  padding: 15px;
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 4px 6px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 4px 6px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 6px -5px rgba(0, 0, 0, 0.3);
}
/* line 96, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .title {
  font-size: 16px;
  font-weight: 600;
}
/* line 100, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .description {
  font-size: 11px;
}
/* line 103, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 5px;
}
/* line 108, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block .progress {
  position: relative;
  background-color: #ffffff;
}
/* line 112, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block .progress .progress-bar::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* line 122, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block .progress .progress-bar.success::after {
  background-color: rgba(62, 194, 118, 0.2);
}
/* line 127, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block .progress .progress-bar.warning::after {
  background-color: rgba(250, 157, 77, 0.2);
}
/* line 132, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .card .card-body .project-list .project-item .progress-block .progress .progress-bar.danger::after {
  background-color: rgba(225, 96, 101, 0.2);
}
/* line 146, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks {
  color: #4d4d4d;
  font-size: 13px;
}
/* line 149, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 25px;
  height: 100%;
}
/* line 150, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block, .app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 481px) {
  /* line 149, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
/* line 162, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item {
  background-color: #ffffff;
  padding: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 10px;
}
/* line 170, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .title {
  text-align: center;
}
/* line 173, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block {
  gap: 20px;
}
/* line 176, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .icon {
  padding: 10px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
/* line 182, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .icon.success {
  background-color: rgba(62, 194, 118, 0.2);
}
/* line 185, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .icon.warning {
  background-color: rgba(250, 157, 77, 0.2);
}
/* line 188, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .icon.danger {
  background-color: rgba(225, 96, 101, 0.2);
}
/* line 192, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .overdue-tasks .task-group .task-item .task-content-block .count {
  font-size: 32px;
  font-weight: 500;
}
@media (min-width: 992px) {
  /* line 200, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks,
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks {
    grid-column: 1 / span 2;
  }
}
/* line 206, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks .card-body .task-contents,
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks .card-body .task-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media (min-width: 992px) {
  /* line 206, ../../scss/pages/dashboard.scss */
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks .card-body .task-contents,
  .app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks .card-body .task-contents {
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
  }
}
/* line 214, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks .card-body .task-contents .graph-block .title,
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks .card-body .task-contents .graph-block .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* line 223, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks .card-body .task-contents .data-block table td .task-status,
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks .card-body .task-contents .data-block table td .task-status {
  padding: 0.5rem 1rem;
  min-width: 100px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  border-radius: 9999px;
  text-align: center;
  background-color: #B8D4FF;
  color: #123F85;
}
/* line 230, ../../scss/pages/dashboard.scss */
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .my-tasks .card-body .task-contents .data-block table td .task-status.danger,
.app-dashboard-content-wrapper .dashboard-wrapper .card-block .team-tasks .card-body .task-contents .data-block table td .task-status.danger {
  background-color: rgba(225, 96, 101, 0.3);
  color: #e16065;
}
