$primaryColor: #4e92ff;
// $secondaryColor:#4469c4;
$bodyColor:#212121;
$borderColor: #dbdade;
$black: #000000;
$white: #ffffff;
$info: #23d7f0;
$danger: #e16065;
$primary: #7c6fd8;
$success: #3ec276;
$warning: #fa9d4d;

// color shades
$black-60: mix($black, $white, 60%);


